/* Variables */
:root {
	--pokered: #E4000F;
	--bg-color: wheat;
	font-size: 24px;
}

/* Fonts */
@font-face {
	font-family: 'PokeFont';
	/*a name to be used later*/
	src: url('../fonts/PKMN_RBYGSC.ttf');
	/*URL to font*/
}

/* Styling */
body {
	background-color: var(--bg-color);
	font-family: 'PokeFont', monospace;
	font-size: 1.75em;
}

.pokedex__title {
	font-size: xx-large;
	color: black;
	text-align: center;
	margin-top: 10px;
}

.mute {
	position: absolute;
	top: 15px;
	right: 25px;
	color: black;
}

/* Pokedex */
.pokedex-container {
	width: 100%;
	height: auto;
	margin-top: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Pokedex Top Left */
.pokedex__left {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 14.3rem;
	height: 23.25rem;
	min-width: 14.3rem;
	background-color: var(--pokered);
	border-top-left-radius: 40px;
	border-bottom-left-radius: 40px;
	box-shadow: -10px 8px 1px -3px #600707;
	z-index: 1000;
}

.left__top {
	display: flex;
	position: relative;
	width: 100%;
	height: 20%;
}

.left__top-left {
	display: flex;
	flex-wrap: nowrap;
	width: 50%;
	height: 80%;
	background-color: #8A0009;
	border-bottom-right-radius: 2rem;
	border-top-left-radius: 40px;
	box-shadow: -2px 8px 0px -1px #600707;
}

.left__top-right {
	position: absolute;
	width: 100%;
	height: 60%;
	background-color: #8a0009;
	border-top-left-radius: 40px;
}

.left__top-curve {
	position: absolute;
	width: 53%;
	height: 50%;
	background-color: var(--pokered);
	border-top-left-radius: 2rem;
	margin-left: 47%;
	margin-top: 10%;
}

.top-left__camera-glass {
	position: relative;
	width: 50px;
	height: 50px;
	margin-top: 7.5%;
	margin-left: 12%;
	background: linear-gradient(200deg, #e1f4f9 10%, #0d91af);
	border-radius: 50%;
	border-style: solid;
	border-color: #fff;
	border-width: 5px;
	box-shadow: -1px 3px 0px 3px #600707;
	z-index: 1100;
}

.top-left__color-btns {
	display: flex;
	justify-content: space-around;
	width: 50%;
	height: 15%;
	margin-top: 7.5%;
	margin-left: 10px;
	z-index: 1100;
}

.top-left__color-btns--red,
.top-left__color-btns--yellow,
.top-left__color-btns--green {
	width: 17px;
	height: 17px;
	border-radius: 50%;
	box-shadow: -1px 1px 0px 1px #600707;
	background: linear-gradient(200deg, lightcoral, red);
}

.top-left__color-btns--yellow,
.bottom__light {
	background: linear-gradient(200deg, lightyellow, yellow);
}

.top-left__color-btns--green {
	background: linear-gradient(200deg, lightgreen, green);
}

/* Pokedex Middle Left*/
.screen-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 85%;
	height: 60%;
	background: linear-gradient(200deg, white, whitesmoke 50%);
	border-radius: 3px;
	border-bottom-left-radius: 40px;
	box-shadow: -2px 3px 0px 1px #B8B8B8;
}

.screen__top-btns {
	display: flex;
	justify-content: space-around;
	width: 10%;
}

.screen__top-btn,
.screen__bottom-btn {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: linear-gradient(200deg, #ff7575, red);
	border: solid 1px black;
}

.screen {
	aspect-ratio: 1 / 1;
	height: 75%;
	background-color: #d8d8d8;
	border-radius: 5px;
}

.screen__bottom-details {
	width: 80%;
	height: 10%;
	display: flex;
	justify-content: space-between;
}

.screen__bottom-btn {
	width: 25px;
	height: 25px;
}

.screen__bottom-sound {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 30px;
	height: 30px;
}

.screen_bottom--sound-bars {
	width: 100%;
	height: 2px;
	border-radius: 1px;
	background: linear-gradient(#606060, black);
}

/* Pokedex Bottom Left */
.main-controls-container {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	width: 90%;
	height: 15%;
	margin-top: 12px;
}

.main-controls__big-btn {
	width: 37.5px;
	height: 37.5px;
	border-radius: 50%;
	background: linear-gradient(200deg, #212121, #030303);
	box-shadow: -1px 1px 0px 1px #600707;
	cursor: pointer;
}

.main-controls__big-btn:active,
.extra-btns:active {
	background: linear-gradient(200deg, #030303, #212121);
	box-shadow: 0px 0px 10px 2px #030303 inset;
}

.main-controls__mid {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 50%;
	height: 100%;
}

.main-controls__btns-conatiner,
.extra-btns-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	height: 40%;
}

.main-controls__sm-btn,
.extra-btns {
	width: 35%;
	height: 20%;
	border-radius: 5px;
	cursor: pointer;
	border: solid black 1px;
	box-shadow: -1px 1px 1px 1px #600707;
}

.red-btn {
	background: linear-gradient(185deg, #ff7a7a, #E31800 35%);
}

.red-btn:active {
	background: linear-gradient(185deg, #E31800, #E61111 35%);
	box-shadow: -1px 1px 3px 1px #600707 inset;
}

.blue-btn {
	background: linear-gradient(185deg, #008484, #004848);
}

.blue-btn:active {
	background: linear-gradient(185deg, #004848, #008484);
	box-shadow: -1px 1px 0px 1px #004848 inset;
}

.main-controls__secondary-screen,
.extra-screen,
.bottom__screen {
	width: 80%;
	height: 50%;
	background-color: #9bc24d;
	background: linear-gradient(190deg, #a2b92f, #a6bd32);
	border-radius: 5px;
	box-shadow: -1px 2px 0px 0px darkgreen inset;
	outline: black solid 1px;
}

.main-controls__secondary-screen {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.55rem;
}

.main-controls__arrow-pad {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	width: 30%;
	height: 100%;
}

.arrow-pad__up,
.arrow-pad__right,
.arrow-pad__left,
.arrow-pad__down,
.arrow-pad__mid {
	aspect-ratio: 1 / 1;
	width: 1rem;
	background-color: #212121;
	box-shadow: -2px 2px 0px 0px #030303;
}

.middle-controls__pads {
	display: flex;
	justify-content: center;
	align-items: center;
}

.arrow-pad__up {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	transform: translateY(1px);
	z-index: 1400;
}

.arrow-pad__right {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	transform: translateX(-1px);
	z-index: 1400;
}

.arrow-pad__down {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	transform: translateY(-1px);
	z-index: 1500;
}

.arrow-pad__left {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	transform: translateX(1px);
	z-index: 1500;
}

.arrow-pad__mid {
	border-radius: 0;
	z-index: 1450;
	background-color: #212121;
}

/* Pokedex Center */
.pokedex__center {
	position: relative;
	width: 50px;
	height: 23.25rem;
	min-width: 50px;
	border-radius: 1px;
	background: linear-gradient(90deg, #8a0009, var(--pokered), #8a0009);
	box-shadow: -16px 6px 0px -1px #600707;
	z-index: 500;
}

.center__hinge {
	position: absolute;
	width: 50px;
	height: 30px;
	background: linear-gradient(90deg, #600707, var(--pokered), #600707);
	border-bottom: solid 2px #600707;
	border-top: solid 2px #600707;
	z-index: 550;
}

.center__hinge:first-child {
	margin-top: 1.7rem;
}

.center__hinge:last-child {
	margin-top: 17rem;
}

/* Pokedex Top Right */
.pokedex__right {
	width: 14.3rem;
	height: 23.25rem;
	min-width: 14.3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--pokered);
	border-bottom-right-radius: 40px;
	box-shadow: -15px 3px 0px 2px #600707;
	z-index: 100;
}

.right__top {
	position: relative;
	width: 100%;
	height: 20%;
}

.right__top-back {
	position: absolute;
	background-color: var(--bg-color);
	width: 101%;
	height: 60%;
	z-index: 110;
	top: -5px;
}

.right__top-left {
	position: absolute;
	width: 51.4%;
	height: 50%;
	background-color: var(--pokered);
	border-top-right-radius: 2rem;
	margin-top: 10%;
	z-index: 120;
}

.right__top-curve {
	position: absolute;
	background-color: var(--bg-color);
	width: 55%;
	height: 80%;
	border-bottom-left-radius: 2rem;
	margin-left: 49%;
	z-index: 130;
}

.extra-screen {
	font-size: 1.25rem;
	width: 85%;
	height: 20%;
	margin-top: 3%;
	text-align: center;
}

/* Pokedex Mid Right */

.blue-btns-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 85%;
	height: 15%;
	margin-top: 5%;
}

.right__lower-bl-btn,
.right__upper-bl-btn {
	width: 20%;
	height: 48%;
	background: linear-gradient(190deg, #38bbff, #28abfc);
	box-shadow: -1px 1px 0px 1px #0c2132;
	cursor: pointer;
	z-index: 150;
	border-radius: 1px;
}

.right__upper-bl-btn:first-child {
	border-top-left-radius: 10px;
}

.right__upper-bl-btn:nth-child(5) {
	border-top-right-radius: 10px;
}

.right__lower-bl-btn:nth-child(6) {
	border-bottom-left-radius: 10px;
}

.right__lower-bl-btn:nth-child(10) {
	border-bottom-right-radius: 10px;
}

.right__upper-bl-btn:active,
.right__lower-bl-btn:active {
	transform: translate(-2px, 1px);
	z-index: 140;
}

.right__upper-bl-btn:active {
	box-shadow: -2px 3px 5px 1px #1c5481 inset;
}

.right__lower-bl-btn:active {
	box-shadow: -3px 4px 5px 1px #1c5481 inset;
}

.extra-btns-container {
	width: 85%;
	height: 5%;
	justify-content: end;
	gap: 10px;
}

.extra-btns {
	width: 15%;
	background: linear-gradient(200deg, #212121, #030303);
}

/* Pokedex Bottom Right */

.bottom-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 85%;
	height: 7%;
	margin-top: 5%;
}

.bottom__btns-container {
	display: flex;
	width: 35%;
	height: 100%;
}

.bottom-btn {
	position: relative;
	width: 50%;
	height: 100%;
	background-color: whitesmoke;
	box-shadow: -1px 1px 0px 1px #B8B8B8;
	cursor: pointer;
	z-index: 160;
}

.bottom-btn:active {
	box-shadow: -1px 1px 5px 1px #B8B8B8 inset;
	transform: translate(-1px, 1px);
	z-index: 155;
}

.bottom-btn:first-child {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.bottom-btn:nth-child(2) {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.bottom-btn__arrow {
	position: absolute;
	width: 24px;
	height: 24px;
	top: 50%;
	left: 50%;
	background-image: url(../imgs/pokedex-entry-down-arrow.png);
	background-size: cover;
}

.right-btn-arrow {
	transform: translate(-50%, -50%) rotate(90deg);
}

.left-btn-arrow {
	transform: translate(-50%, -50%) rotate(270deg);
}

.bottom__light {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	box-shadow: -1px 1px 0px 0px darkorange;
}

.bottom-screens-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 85%;
	height: 10%;
	margin-top: 10%;
}

.bottom__screen {
	width: 45%;
	height: 100%;
	margin: 0;
}

/* Pokedex Entry Info */
.screen__pokedex-entry {
	width: 100%;
	height: 100%;
	border: 2px solid black;
	outline: 5px solid grey;
	box-sizing: border-box;
	font-size: 0.55rem;
	background-color: #f8f8f8;
}

/* Pokedex Entry Info Up */
.general-info__up {
	display: flex;
	width: 100%;
	height: 49%;
	z-index: 2000;
}

.entry-up__left {
	display: flex;
	flex-direction: column;
	width: 45%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.left__poke-img {
	background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png");
	aspect-ratio: 1 / 1;
	min-width: 96px;
}

.left__poke-id {
	height: 10%;
}

.entry-up__right {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 55%;
	height: 100%;
	padding-right: 5px;
}

.up__info {
	font-size: 0.55rem;
	display: flex;
	justify-content: space-between;
	height: 15%;
}

/* Pokedex Entry Info Mid */
.general-info__mid {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 2%;
	background-color: black;
	z-index: 2500;
}

.mid__square-containers {
	position: absolute;
	display: flex;
	justify-content: space-evenly;
	width: 45%;
	height: 10px;
	top: -45%;
}

.mid__square-containers:last-child {
	left: 55%
}

.mid__square {
	aspect-ratio: 1 / 1;
	height: 80%;
	border-top: 2px solid grey;
	border-bottom: 2px solid gray;
	outline: 2px solid black;
	box-sizing: border-box;
	background-color: white;
}

/* Pokedex Entry Info Down */
.general-info__down {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	position: relative;
	width: 100%;
	height: 49%;
	z-index: 2000;
}

.down__flavor {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: nowrap;
	width: 95%;
	height: 15%;
}

.flavor__letter {
	font-size: 0.55rem;
	width: 5%;
	height: 100%;
	text-align: center;
}

.flavor__arrow-container {
	position: absolute;
	display: flex;
	justify-content: flex-end;
	width: 95%;
	height: 15%;
	bottom: 0;
	right: 2.5%;
}

.flavor__down-arrow {
	width: 16px;
	height: 16px;
	background-image: url('../imgs/pokedex-entry-down-arrow.png');
}

.flavor__down-arrow {
	animation: arrow-blink 1s steps(2, start) infinite;
	-webkit-animation: arrow-blink 1s steps(2, start) infinite;
}

@keyframes arrow-blink {
	to {
		visibility: hidden;
	}
}

@-webkit-keyframes arrow-blink {
	to {
		visibility: hidden;
	}
}

/* Pokedex Entry Stats */
#stats-container {
	display: none;
}

/* Pokedex Entry Stats Top*/
.stats__top {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	height: 40%;
}

.stats-top__left {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 35%;
}

.stats__poke-img {
	width: 96px;
	height: 96px;
}

.id-container {
	font-size: 0.55rem;
	display: flex;
	align-items: baseline;
}

.id-txt {
	width: 24px;
	height: 10px;
	background: no-repeat url('../imgs/id-text.png');
	margin-right: 2px;
}

.stats-top__right {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 52%;
	height: 90%;
	border-right: 4px solid black;
	border-bottom: 4px solid black;
	margin-left: 15px;
	padding: 0 5px;
}

.stats__hp-lv-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	align-self: flex-end;
	width: 80%;
	height: 50%;
}

.stats__level-container {
	display: flex;
	justify-content: center;
	align-items: baseline;
	width: 100%;
}

.level-txt {
	width: 12px;
	height: 10px;
	background: no-repeat url('../imgs/level-text.png');
	margin-right: 2px;
}

.stats__hp-container {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.hp__tag {
	width: 22px;
	height: 8px;
	background: no-repeat url('../imgs/hp-text.png');
}

.hp__bar {
	position: relative;
	width: 75%;
	height: 6px;
	border: solid black 2px;
	background-color: #606060;
}

.hp-bar__corner {
	position: absolute;
	width: 2px;
	height: 2px;
	background-color: #f8f8f8;
}

.hp-bar__corner:nth-child(1) {
	top: 0;
	left: 0;
	transform: translate(-100%, -100%);
}

.hp-bar__corner:nth-child(2) {
	top: 0;
	left: 100%;
	transform: translateY(-100%);
}

.hp-bar__corner:nth-child(3) {
	top: 100%;
	left: 0;
	transform: translateX(-100%);
}

.hp-bar__corner:nth-child(4) {
	top: 100%;
	left: 100%;
}

.hp__stat {
	align-self: flex-end;
	padding-right: 5px;
}

.stats__state {
	margin-top: 10px;
}

.stats__half-arrow {
	position: absolute;
	background: no-repeat url(../imgs/half-left-arrow.png);
	width: 16px;
	height: 8px;
	top: 100%;
	left: 0;
	transform: translate(-100%, -50%);
}

/* Pokedex Entry Stats Down */
.stats__down {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 100%;
	height: 60%;
}

.stats__stats-box {
	--local-spacing: calc(100% - 8px);
	--local-in-spacing: calc(100% - 16px);

	position: relative;
	width: 50%;
	height: 100%;
}

.stats-box__tl-corner,
.stats-box__tr-corner,
.stats-box__bl-corner,
.stats-box__br-corner {
	position: absolute;
	top: 0;
	left: 0;
	width: 8px;
	height: 8px;
	background-image: url('../imgs/top-left-stats-frame.png');
}

.stats-box__tr-corner {
	left: var(--local-spacing);
	background-image: url('../imgs/top-right-stats-frame.png');
}

.stats-box__bl-corner {
	top: var(--local-spacing);
	left: 0;
	background-image: url('../imgs/bottom-left-stats-frame.png');
}

.stats-box__br-corner {
	top: var(--local-spacing);
	left: var(--local-spacing);
	background-image: url('../imgs/bottom-right-stats-frame.png');
}

.stats-box__top-bar,
.stats-box__bottom-bar {
	position: absolute;
	top: 0;
	left: 8px;
	width: calc(100% - 16px);
	height: 8px;
	background-image: url('../imgs/horizontal-stats-frame.png');
}

.stats-box__right-bar,
.stats-box__left-bar {
	position: absolute;
	top: 8px;
	left: calc(100% - 8px);
	width: 8px;
	height: calc(100% - 16px);
	background-image: url('../imgs/vertical-stats-frame.png');
}

.stats-box__bottom-bar {
	top: var(--local-spacing);
}

.stats-box__left-bar {
	left: 0;
}

.stats-box__stats {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	top: 8px;
	left: 8px;
	width: var(--local-in-spacing);
	height: var(--local-in-spacing);
	padding: 1px 0;
}

.stats__lbl {
	width: 100%;
}

.stats__stat {
	width: 100%;
	text-align: right;
}

.stats__type-box {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 35%;
	height: 85%;
	margin: 0 6px 4px;
	border-right: 4px solid black;
	border-bottom: 4px solid black;
}

.type-box__txt-container {
	width: 120%;
	height: 24%;
	transform: translateX(-30px);
}

.type-box__txt {
	width: 100%;
	text-align: center;
}

.lbl__id {
	width: 45px;
	height: 50%;
	background-image: url('../imgs/stats-id-txt.png');
	background-repeat: no-repeat;
	text-align: right;
}

/* Utilities */
.hide {
	display: none;
}

@media (min-width: 1024px) {
	.mid__square-containers {
		top: 0%;
	}
}