/* Variables */
:root {
	--pokered: #E4000F;
	--bg-color: wheat;
}

/* Fonts */
@font-face {
	font-family: 'PokeFont';
	/*a name to be used later*/
	src: url('../fonts/PKMN_RBYGSC.ttf');
	/*URL to font*/
}

/* Styling */
body {
	background-color: var(--bg-color);
	font-family: 'PokeFont', monospace;
	font-size: 1.75em;
}


.pokedex__title {
	font-size: xx-large;
	color: black;
	text-align: center;
	margin-top: 10px;
}

/* Pokedex */
.pokedex-container {
	width: 100%;
	height: auto;
	margin-top: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Pokedex Top Left */
.pokedex__left {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 400px;
	height: 90vh;
	min-width: 400px;
	background-color: var(--pokered);
	border-top-left-radius: 40px;
	border-bottom-left-radius: 40px;
	box-shadow: -10px 8px 1px -3px #600707;
	z-index: 1000;
}

.left__top {
	display: flex;
	position: relative;
	width: 100%;
	height: 20%;
}

.left__top-left {
	display: flex;
	flex-wrap: nowrap;
	width: 50%;
	height: 80%;
	background-color: #8A0009;
	border-bottom-right-radius: 40px;
	border-top-left-radius: 40px;
	box-shadow: -2px 8px 0px -1px #600707;
}

.left__top-right {
	position: absolute;
	width: 100%;
	height: 60%;
	background-color: #8a0009;
	border-top-left-radius: 40px;
}

.left__top-curve {
	position: absolute;
	width: 51.4%;
	height: 50%;
	background-color: var(--pokered);
	border-top-left-radius: 40px;
	margin-left: 48.6%;
	margin-top: 10%;
}

.top-left__camera-glass {
	position: relative;
	width: 50px;
	height: 50px;
	margin-top: 7.5%;
	margin-left: 12%;
	background: linear-gradient(200deg, #e1f4f9 10%, #0d91af);
	border-radius: 50%;
	border-style: solid;
	border-color: #fff;
	border-width: 5px;
	box-shadow: -1px 3px 0px 3px #600707;
	z-index: 1100;
}

.top-left__color-btns {
	display: flex;
	justify-content: space-around;
	width: 50%;
	height: 15%;
	margin-top: 7.5%;
	margin-left: 10px;
	z-index: 1100;
}

.top-left__color-btns--red,
.top-left__color-btns--yellow,
.top-left__color-btns--green {
	width: 17px;
	height: 17px;
	border-radius: 50%;
	box-shadow: -1px 1px 0px 1px #600707;
	background: linear-gradient(200deg, lightcoral, red);
}

.top-left__color-btns--yellow,
.bottom__light {
	background: linear-gradient(200deg, lightyellow, yellow);
}

.top-left__color-btns--green {
	background: linear-gradient(200deg, lightgreen, green);
}

/* Pokedex Middle Left*/
.screen-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 80%;
	height: 60%;
	background: linear-gradient(200deg, white, whitesmoke 50%);
	border-radius: 3px;
	border-bottom-left-radius: 40px;
	box-shadow: -2px 3px 0px 1px #B8B8B8;
}

.screen__top-btns {
	display: flex;
	justify-content: space-around;
	width: 10%;
}

.screen__top-btn,
.screen__bottom-btn {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: linear-gradient(200deg, #ff7575, red);
	border: solid 1px black;
}

.screen {
	aspect-ratio: 1 / 1;
	height: 75%;
	background-color: #d8d8d8;
	border-radius: 5px;
}

.screen__bottom-details {
	width: 80%;
	height: 10%;
	display: flex;
	justify-content: space-between;
}

.screen__bottom-btn {
	width: 25px;
	height: 25px;
}

.screen__bottom-sound {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 30px;
	height: 30px;
}

.screen_bottom--sound-bars {
	width: 100%;
	height: 2px;
	border-radius: 1px;
	background: linear-gradient(#606060, black);
}

/* Pokedex Bottom Left */
.main-controls-container {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	width: 90%;
	height: 15%;
	margin-top: 12px;
}

.main-controls__big-btn {
	width: 37.5px;
	height: 37.5px;
	border-radius: 50%;
	background: linear-gradient(200deg, #212121, #030303);
	box-shadow: -1px 1px 0px 1px #600707;
	cursor: pointer;
}

.main-controls__big-btn:active,
.extra-btns:active {
	background: linear-gradient(200deg, #030303, #212121);
	box-shadow: 0px 0px 10px 2px #030303 inset;
}

.main-controls__mid {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 50%;
	height: 100%;
}

.main-controls__btns-conatiner,
.extra-btns-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	height: 40%;
}

.main-controls__sm-btn,
.extra-btns {
	width: 35%;
	height: 20%;
	border-radius: 5px;
	cursor: pointer;
	border: solid black 1px;
	box-shadow: -1px 1px 1px 1px #600707;
}

.red-btn {
	background: linear-gradient(185deg, #ff7a7a, #E31800 35%);
}

.red-btn:active {
	background: linear-gradient(185deg, #E31800, #E61111 35%);
	box-shadow: -1px 1px 3px 1px #600707 inset;
}

.blue-btn {
	background: linear-gradient(185deg, #008484, #004848);
}

.blue-btn:active {
	background: linear-gradient(185deg, #004848, #008484);
	box-shadow: -1px 1px 0px 1px #004848 inset;
}

.main-controls__secondary-screen,
.extra-screen,
.bottom__screen {
	width: 80%;
	height: 50%;
	background-color: #9bc24d;
	background: linear-gradient(190deg, #a2b92f, #a6bd32);
	border-radius: 5px;
	box-shadow: -1px 2px 0px 0px darkgreen inset;
	outline: black solid 1px;
}

.main-controls__secondary-screen {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
}

.main-controls__arrow-pad {
	position: relative;
	width: 30%;
	height: 100%;
}

.arrow-pad__up,
.arrow-pad__right,
.arrow-pad__left,
.arrow-pad__down,
.arrow-pad__mid {
	position: absolute;
	aspect-ratio: 1 / 1;
	width: 30px;
	background-color: #212121;
	box-shadow: -2px 2px 0px 0px #030303;
}

.arrow-pad__up {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	left: 50%;
	transform: translate(-50%, 5%);
	z-index: 1400;
}

.arrow-pad__right {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	top: 50%;
	left: 50%;
	transform: translate(45%, -50%);
	z-index: 1400;
}

.arrow-pad__down {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 45%);
	z-index: 1500;
}

.arrow-pad__left {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	top: 50%;
	left: 50%;
	transform: translate(-145%, -50%);
	z-index: 1500;
}

.arrow-pad__mid {
	border-radius: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1450;
	background: radial-gradient(#030303 0%, #212121 60%);
}

/* Pokedex Center */
.pokedex__center {
	position: relative;
	width: 50px;
	height: 90vh;
	min-width: 50px;
	border-radius: 1px;
	background: linear-gradient(90deg, #8a0009, var(--pokered), #8a0009);
	box-shadow: -16px 6px 0px -1px #600707;
	z-index: 500;
}

.center__hinge {
	position: absolute;
	width: 50px;
	height: 30px;
	background: linear-gradient(90deg, #600707, var(--pokered), #600707);
	border-bottom: solid 2px #600707;
	border-top: solid 2px #600707;
	z-index: 550;
}

.center__hinge:first-child {
	margin-top: 8vh;
}

.center__hinge:last-child {
	margin-top: 80vh;
}

/* Pokedex Top Right */
.pokedex__right {
	width: 400px;
	height: 90vh;
	min-width: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--pokered);
	border-bottom-right-radius: 40px;
	box-shadow: -15px 3px 0px 2px #600707;
	z-index: 100;
}

.right__top {
	position: relative;
	width: 100%;
	height: 20%;
}

.right__top-back {
	position: absolute;
	background-color: var(--bg-color);
	width: 100%;
	height: 60%;
	z-index: 110;
}

.right__top-left {
	position: absolute;
	width: 51.4%;
	height: 50%;
	background-color: var(--pokered);
	border-top-right-radius: 40px;
	margin-top: 10%;
	z-index: 120;
}

.right__top-curve {
	position: absolute;
	background-color: var(--bg-color);
	width: 50%;
	height: 80%;
	border-bottom-left-radius: 40px;
	margin-left: 50%;
	z-index: 130;
}

.extra-screen {
	width: 85%;
	height: 20%;
	margin-top: 3%;
	text-align: center;
}

/* Pokedex Mid Right */

.blue-btns-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 85%;
	height: 15%;
	margin-top: 5%;
}

.right__lower-bl-btn,
.right__upper-bl-btn {
	width: 20%;
	height: 48%;
	background: linear-gradient(190deg, #38bbff, #28abfc);
	box-shadow: -1px 1px 0px 1px #0c2132;
	cursor: pointer;
	z-index: 150;
	border-radius: 1px;
}

.right__upper-bl-btn:first-child {
	border-top-left-radius: 10px;
}

.right__upper-bl-btn:nth-child(5) {
	border-top-right-radius: 10px;
}

.right__lower-bl-btn:nth-child(6) {
	border-bottom-left-radius: 10px;
}

.right__lower-bl-btn:nth-child(10) {
	border-bottom-right-radius: 10px;
}

.right__upper-bl-btn:active,
.right__lower-bl-btn:active {
	transform: translate(-2px, 1px);
	z-index: 140;
}

.right__upper-bl-btn:active {
	box-shadow: -2px 3px 5px 1px #1c5481 inset;
}

.right__lower-bl-btn:active {
	box-shadow: -3px 4px 5px 1px #1c5481 inset;
}

.extra-btns-container {
	width: 85%;
	height: 5%;
	justify-content: end;
	gap: 10px;
}

.extra-btns {
	width: 15%;
	background: linear-gradient(200deg, #212121, #030303);
}

/* Pokedex Bottom Right */

.bottom-container {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	width: 85%;
	height: 7%;
	margin-top: 5%;
}

.bottom__btns-container {
	display: flex;
	width: 35%;
	height: 100%;
}

.bottom-btn {
	width: 50%;
	height: 100%;
	background-color: whitesmoke;
	box-shadow: -1px 1px 0px 1px #B8B8B8;
	cursor: pointer;
	z-index: 160;
}

.bottom-btn:active {
	box-shadow: -1px 1px 5px 1px #B8B8B8 inset;
	transform: translate(-1px, 1px);
	z-index: 155;
}

.bottom-btn:first-child {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.bottom-btn:nth-child(2) {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.bottom__light {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	box-shadow: -1px 1px 0px 0px darkorange;
}

.bottom-screens-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 85%;
	height: 10%;
	margin-top: 10%;
}

.bottom__screen {
	width: 45%;
	height: 100%;
	margin: 0;
}

/* Pokedex Entry Info */
.screen__pokedex-entry {
	width: 100%;
	height: 100%;
	border: 2px solid black;
	outline: 5px solid grey;
	box-sizing: border-box;
	font-size: 14px;
}

/* Pokedex Entry Info Up */
.pokedex-entry__up {
	display: flex;
	width: 100%;
	height: 49%;
	background-color: #f8f8f8;
	z-index: 2000;
}

.entry-up__left {
	display: flex;
	flex-direction: column;
	width: 45%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.left__poke-img {
	background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png");
	aspect-ratio: 1 / 1;
	min-width: 96px;
}

.left__poke-id {
	height: 10%;
}

.entry-up__right {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 55%;
	height: 100%;
	padding-right: 5px;
}

.up__info {
	display: flex;
	justify-content: space-between;
	height: 15%;
}

/* Pokedex Entry Info Mid */
.pokedex-entry__mid {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 2%;
	background-color: black;
	z-index: 2500;
}

.mid__square-containers {
	position: absolute;
	display: flex;
	justify-content: space-evenly;
	width: 45%;
	height: 10px;
	top: -50%;
}

.mid__square-containers:last-child {
	left: 55%
}

.mid__square {
	aspect-ratio: 1 / 1;
	height: 80%;
	border-top: 2px solid grey;
	border-bottom: 2px solid gray;
	outline: 2px solid black;
	box-sizing: border-box;
	background-color: white;
}

/* Pokedex Entry Info Down */
.pokedex-entry__down {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	position: relative;
	width: 100%;
	height: 49%;
	background-color: #f8f8f8;
	z-index: 2000;
}

.down__flavor {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: nowrap;
	width: 95%;
	height: 15%;
}

.flavor__letter {
	width: 5%;
	height: 100%;
	text-align: center;
}

.flavor__arrow-container {
	position: absolute;
	display: flex;
	justify-content: flex-end;
	width: 95%;
	height: 15%;
	bottom: 0;
	right: 2.5%;
}

.flavor__down-arrow {
	width: 16px;
	height: 16px;
	background-image: url('../imgs/pokedex-entry-down-arrow.png');
}

.flavor__down-arrow {
	animation: arrow-blink 1s steps(2, start) infinite;
	-webkit-animation: arrow-blink 1s steps(2, start) infinite;
}

@keyframes arrow-blink {
	to {
		visibility: hidden;
	}
}

@-webkit-keyframes arrow-blink {
	to {
		visibility: hidden;
	}
}

.hide {
	display: none;
}