/* Variables */
:root {
	--pokered: #E4000F;
}

/* Fonts */
@font-face {
	font-family: 'PokeFont';
	/*a name to be used later*/
	src: url('../fonts/PKMN_RBYGSC.ttf');
	/*URL to font*/
}

/* Styling */
body {
	background-color: wheat;
	font-family: 'PokeFont', monospace;
	font-size: 2em;
}


.pokedex__title {
	font-size: xx-large;
	color: black;
	text-align: center;
	margin-top: 10px;
}

/* Pokedex */
.pokedex-container {
	width: 100%;
	height: auto;
	margin-top: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Pokedex Top Left */
.pokedex__left {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 37.5%;
	height: 90vh;
	background-color: var(--pokered);
	border-top-left-radius: 40px;
	border-bottom-left-radius: 40px;
	box-shadow: -10px 8px 1px -3px #600707;
}

.left__top {
	display: flex;
	position: relative;
	width: 100%;
	height: 20%;
}

.left__top-left {
	display: flex;
	flex-wrap: nowrap;
	width: 50%;
	height: 80%;
	background-color: #8A0009;
	border-bottom-right-radius: 40px;
	border-top-left-radius: 40px;
	box-shadow: -2px 8px 0px -1px #600707;
}

.left__top-right {
	position: absolute;
	width: 100%;
	height: 60%;
	background-color: #8a0009;
	border-top-left-radius: 40px;
}

.left__top-curve {
	position: absolute;
	width: 51.4%;
	height: 50%;
	background-color: var(--pokered);
	border-top-left-radius: 40px;
	margin-left: 48.6%;
	margin-top: 10%;
}

.top-left__camera-glass {
	position: relative;
	width: 50px;
	height: 50px;
	margin-top: 7.5%;
	margin-left: 12%;
	background: linear-gradient(200deg, #e1f4f9 10%, #0d91af);
	border-radius: 50%;
	border-style: solid;
	border-color: #fff;
	border-width: 5px;
	box-shadow: -1px 3px 0px 3px #600707;
	z-index: 100;
}

.top-left__color-btns {
	display: flex;
	justify-content: space-around;
	width: 50%;
	height: 15%;
	margin-top: 7.5%;
	margin-left: 10px;
	z-index: 100;
}

.top-left__color-btns--red,
.top-left__color-btns--yellow,
.top-left__color-btns--green {
	width: 17px;
	height: 17px;
	border-radius: 50%;
	box-shadow: -1px 1px 0px 1px #600707;
	background: linear-gradient(200deg, lightcoral, red);
}

.top-left__color-btns--yellow {
	background: linear-gradient(200deg, lightyellow, yellow);
}

.top-left__color-btns--green {
	background: linear-gradient(200deg, lightgreen, green);
}

/* Pokedex Middle Left*/
.screen-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 80%;
	height: 60%;
	background: linear-gradient(200deg, white, whitesmoke 50%);
	border-radius: 3px;
	border-bottom-left-radius: 40px;
	box-shadow: -2px 3px 0px 1px #600707;
}

.screen__top-btns {
	display: flex;
	justify-content: space-around;
	width: 10%;
}

.screen__top-btn,
.screen__bottom-btn {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: linear-gradient(200deg, #ff7575, red);
	border: solid 1px black;
}

.screen {
	aspect-ratio: 1 / 1;
	height: 75%;
	background-color: #d8d8d8;
	border-radius: 5px;
}

.screen__bottom-details {
	width: 80%;
	height: 10%;
	display: flex;
	justify-content: space-between;
}

.screen__bottom-btn {
	width: 25px;
	height: 25px;
}

.screen__bottom-sound{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 30px;
	height: 30px;
}

.screen_bottom--sound-bars {
	width: 100%;
	height: 2px;
	border-radius: 1px;
	background: linear-gradient(#606060, black);
}

/* Pokedex Bottom Left */



/* Message Panel */
.msg-panel {
	position: absolute;
	width: 50%;
	height: 30%;
	background-color: #8A0009;
	color: white;
	text-align: center;
	border-radius: 50px;
	margin-top: 50vh;
	margin-left: 50vw;
	transform: translate(-50%, -50%);
	display: none;
}

.show {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.msg-panel__msg {
	font-size: x-large;
}

.msg-panel__button {
	height: 20%;
	font-size: 0.85em;
}